.hero-section-wrapper {
    position: relative;
}
.hero-section {
    height: 550px;
    background-color: #FFF;
    padding: 2rem;
    display: flex !important;
    justify-content: space-around;
    flex-flow: row wrap;
}

.MuiTypography-body1 {
    display: flex;
    align-items: center;
}
.logo {
    position: relative;
    width: 100%;
    height: max-content;
    max-width: 350px;
}

@media screen and (max-width:765px) {
    .MuiDivider-flexItem {
        display: none;
    }
}