body {
    background-color: #A4BBDD;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.App {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100vh;
}